.container {
  background-color: #5ccd5c;
  width: 440px;
  height: 160px;
  margin: 10px auto;
  padding: 120px 30px;
  border: 1px solid black;
  color: black;
  margin: 50px auto;
  border: 1px solid black;
  max-width: 500px;
  border-radius: 25px;
}
.btn {
  background-color: hsl(0, 4%, 90%);
  color: black;
  border: none;
  padding: 14px 26px;
  width: 40%;
  border-radius: 20px;
}
